name: Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/configure-pages@v5

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'npm'

      - run: |
          npm ci
          npm run build

      - uses: actions/upload-pages-artifact@v4
        with:
          path: build/

      - id: deployment
        uses: actions/deploy-pages@v4
